
.slick-slide img {
    width: 100%;
    max-width: 1980px;
    height: 800px;
    max-height: 800px;
    
    margin: 0 auto;
    outline: transparent;
  }

  .slick-slider {
    position: relative;
    margin-bottom: 30px;
  }
  .slick-slider .slick-dots {
    
    display: flex !important;
    justify-content: center;
    
    left: -345px;
    top: 625px;
    
  }
  
  .slick-slider .slick-dots li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    width: 180px;
    cursor: pointer;
  }
  
  .slick-slider .slick-dots li button {
    position: relative;
    color: #424551;
    font-family: Ubuntu;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    top: -50px;
    background-color: none;
    opacity: 0.6;
    
  }
  .slick-slider .slick-dots li button::before {
    position: absolute;
    top: 50px;
    width: 160px;
    height: 2px;
    background-color: #424551;
    font-size: 0;
    opacity: 0.3;
  }
  
  .slick-slider .slick-dots li button:hover {
    background-color: #b9b5b5;
  }
  
  .slick-slider .slick-dots li.slick-active button {
    background-color: none;
    opacity: 1;
    outline: transparent;
   
   
  }
  
  
  .slick-slider .slick-dots li.slick-active button:before {
    width: 160px;
    opacity: 1;
  }
  
  /* ----- Общие свойства для всех слайдеров ----- */
  .slick-list,
  .slick-track {
    touch-action: pan-y;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    touch-action: pan-y;
  }
  
  .slick-prev:before,
  .slick-next:before {
    opacity: 0 !important;
  }
  
  .Slider {
    &-Arrow {
      position: absolute !important;
      top: 50% !important;
      z-index: 1 !important;
  
      &.slick-disabled {
        .Slider-ArrowButton {
          // display: none;
        }
      }
    }
  
    &-ArrowButton {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      width: 48px;
      height: 48px;
      background-color: var(--slider-arrow-backgroundColor);
      
      border-radius: 50%;
      cursor: pointer;
      opacity: var(--slider-arrow-opacity);
      transition: all 500ms ease;
  
      &__left {
        left: 45px;
      }
  
      &__right {
        right: 45px;
        transform: rotate(180deg);
      }
  
      &:hover {
        background-color: rgb(218, 219, 228);
        
        opacity: 0.8;
      }
    }
  
    &-ArrowCustom {
      svg {
        fill: red;
        height: 16px;
        width: 8px;
      }
    }
  }

  .slick-prev .slick-next {
    display: none;
  }

 
  
